dashName: dashGoat
buddyDownStatusMsg: info
ipport: :2000
weblog: off
webpath: /
updatekey: my-precious!
ttlbehavior: PromoteToOk # Remove, PromoteOnce, PromoteOneStep,PromoteToOk
ttlokdelete: 300 # seconds to delete
nsconfig: dashgoat-headless-svc
