dashName: dashGoat
buddyDownStatusMsg: info
ipport: :2000
webpath: /
updatekey: my-precious!
ttlbehavior: PromoteToOk # Remove, PromoteOnce, PromoteOneStep,PromoteToOk
ttlokdelete: 300 # seconds to delete
buddynsconfig: dashgoat-headless-svc
prometheusurl: http://localhost:9090
