body {
  font-size: 16px;
  margin:0;
  background-color: #222222;
  color:#f6f6f6;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.divTable {
  margin: auto;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 800px;
}

.divTableRow {
  font-weight: inherit;
  text-transform: capitalize;
  display: flex;
  margin-top: 8px;
  border-left-width: 0.7em;
  border-left-style: solid;
  border-left-color: #223f4c;
  border-radius: 4px 4px 4px 4px;
}

.divTable .cellhost,
.divTable .cellservice,
.divTable .cellstatus,
.divTable .cellchange,
.divTable .cellprobe,
.divTable .cellmessage {
  flex: 1;
  padding: .8em 1em;
}

.divTable .cellhost {
  padding-left: 1.3em;
  flex-grow: 2;
}
.divTable .cellservice {
  flex-grow: 2;
}
.divTable .cellmessage {
  flex-grow: 5;
}
.divTable .cellchange,
.divTable .cellprobe,
.divTable .cellstatus {
  flex-grow: 1;
}

.divTableHeader {
  text-transform: uppercase;
  background-color: #223f4c;
}
.divTableFoot {
  background-color: #223f4c;
  color: #7895a4;
  margin-top: 8px;
}

.divTable .critical  {
  background: #423232;
  border-left-color: #ef1b11;
}
.divTable .error  {
  background: #3a3026;
  border-left-color: #db7600;
}
.divTable .warning {
  background: #383827;
  border-left-color: #e2dc0c;
}
.divTable .info {
  background: #273233;
  border-left-color: #14a7c9;
}
.divTable .ok {
  background: #333333;
  border-left-color: #333333;
}

.timeline {
  overflow: hidden;
  border-radius: 4px 4px 4px 4px;
}
.timeline-wrapper {
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  padding: .8em 2em;
  display: flex;
}
.timeline-field {
  float: left;
  height: 22px;
  background: gray;
  color: gray;
  flex-grow: 1;
}
